.App {
  text-align: center;
}

body {
  min-height: 100vh;
  background-color: #282c34;
}

.App-logo {
  height: 55vmin;
  pointer-events: none;
  border: 1px solid black;
  border-left: none;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
}

.App-link {
  color: #61dafb;
}

#start {
  width: 10%;
  padding: 16px;
  margin: 16px;
  font-size: 1.7em;
  background-color: cyan;
  cursor: pointer;
}

#menu-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}